__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
cocotb-env/
build/
dist/
tmp/
sim_build/
results.xml
*.vcd
*.fst
*.vvp
*.jou
*.log
*.str
*.xclbin
*.xo
*.dcp
*.bit
*.ltx
.DS_Store
